---
Title: Cake.Chutzpah
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        Cake.Chutzpah is an Addin for <a href="http://cakebuild.net/">Cake</a> which allows the execution of the command line JavaScript test runner.
    </p>
</div>